html,
body,
#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 0px 20px;
    background-color: rgba(255, 255, 255, 0.1); /* White background with opacity */
    backdrop-filter: blur(1px); /* Apply blur effect */
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 10px 15px 12px rgba(0,0,0,0.22);
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#submit-button {
    padding: 10px;
    background-color: #303030;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#info-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
    padding: 25px;
    text-align: left;
    font-size: 20px;
    line-height: 26px;
}

#info-text {
    font-size: 20px;
}

#draw-button, #cal-button{
    display: none;
    position: absolute;
    width: 6%;
    bottom: 1%;
    left: 47%;
    z-index: 5;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

.popup-text{
    margin-bottom: 0px 0px 15px 0px;
}

.popup-buttons{
    position: fixed;
    bottom: 75px;
}
.popup-buttons button{
    padding: 10px;
    background-color: #413f3f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#print-button{
    position: fixed;
    right: 20px;
    padding: 10px;
    background-color: #413f3f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}